<html>
    <head>
        {% if title %}
        <title>{{ title }} "Роги і Копита"</title>
        {% else %}
        <title>"Роги і копита"</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Автосервіс</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Ввійти</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Профіль</a>
                <a href="{{ url_for('logout') }}">Вийти</a>
            {% endif %}
            <a href="{{ url_for('reviews') }}">Відгуки</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
