<html>
    <head>
        {% if title %}
        <title>{{ title }} "Роги і Копита"</title>
        {% else %}
        <title>"Роги і копита"</title>
        {% endif %}
    </head>
    <body>
        <div>
            {{nav.main_menu_bar.render()}}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
